AH_PUBLIC_URL=http://localhost:3000
AH_LIVE_PAYMENTS=false
AH_SQUARE_ENV=sandbox
AH_SQUARE_ACCESS_TOKEN=
AH_SQUARE_LOCATION_ID=
AH_SQUARE_WEBHOOK_SIGNATURE_KEY=
AH_SQUARE_WEBHOOK_URL=
AH_SQUARE_VERSION=2026-08-20
AH_ADMIN_SESSION_SECRET=
AH_EMAIL_PROVIDER=
AH_EMAIL_FROM=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
